.container {
	width: 100%;
	max-width: var(--container-max-width);
	margin-inline: auto;
	padding-inline: var(--container-padding);
}

@media (min-width: 480px) {
	:root {
		--container-max-width: var(--container-xs);
	}
}

@media (min-width: 576px) {
	:root {
		--container-max-width: var(--container-s);
	}
}

@media (min-width: 768px) {
	:root {
		--container-max-width: var(--container-m);
	}
}

@media (min-width: 992px) {
	:root {
		--container-max-width: var(--container-l);
	}
}

@media (min-width: 1200px) {
	:root {
		--container-max-width: var(--container-xl);
	}
}

@media (min-width: 1400px) {
	:root {
		--container-max-width: var(--container-xxl);
	}
}

@media (min-width: 1600px) {
	:root {
		--container-max-width: var(--container-3xl);
	}
}

@media (min-width: 1800px) {
	:root {
		--container-max-width: var(--container-4xl);
	}
}

@media (min-width: 2160px) {
	:root {
		--container-max-width: var(--container-5xl);
	}
}