.m-xxs {
	margin: var(--size-xxs);
}

.m-xs {
	margin: var(--size-xs);
}

.m-s {
	margin: var(--size-s);
}

.m-m {
	margin: var(--size-m);
}

.m-l {
	margin: var(--size-l);
}

.m-xl {
	margin: var(--size-xl);
}

.m-xxl {
	margin: var(--size-xxl);
}

.m-3xl {
	margin: var(--size-3xl);
}

.m-4xl {
	margin: var(--size-4xl);
}

.m-5xl {
	margin: var(--size-5xl);
}

.mt-xxs {
	margin-top: var(--size-xxs);
}

.mt-xs {
	margin-top: var(--size-xs);
}

.mt-s {
	margin-top: var(--size-s);
}

.mt-m {
	margin-top: var(--size-m);
}

.mt-l {
	margin-top: var(--size-l);
}

.mt-xl {
	margin-top: var(--size-xl);
}

.mt-xxl {
	margin-top: var(--size-xxl);
}

.mt-3xl {
	margin-top: var(--size-3xl);
}

.mt-4xl {
	margin-top: var(--size-4xl);
}

.mt-5xl {
	margin-top: var(--size-5xl);
}

.mb-xxs {
	margin-bottom: var(--size-xxs);
}

.mb-xs {
	margin-bottom: var(--size-xs);
}

.mb-s {
	margin-bottom: var(--size-s);
}

.mb-m {
	margin-bottom: var(--size-m);
}

.mb-l {
	margin-bottom: var(--size-l);
}

.mb-xl {
	margin-bottom: var(--size-xl);
}

.mb-xxl {
	margin-bottom: var(--size-xxl);
}

.mb-3xl {
	margin-bottom: var(--size-3xl);
}

.mb-4xl {
	margin-bottom: var(--size-4xl);
}

.mb-5xl {
	margin-bottom: var(--size-5xl);
}

.ms-xxs {
	margin-left: var(--size-xxs);
}

.ms-xs {
	margin-left: var(--size-xs);
}

.ms-s {
	margin-left: var(--size-s);
}

.ms-m {
	margin-left: var(--size-m);
}

.ms-l {
	margin-left: var(--size-l);
}

.ms-xl {
	margin-left: var(--size-xl);
}

.ms-xxl {
	margin-left: var(--size-xxl);
}

.ms-3xl {
	margin-left: var(--size-3xl);
}

.ms-4xl {
	margin-left: var(--size-4xl);
}

.ms-5xl {
	margin-left: var(--size-5xl);
}

.me-xxs {
	margin-right: var(--size-xxs);
}

.me-xs {
	margin-right: var(--size-xs);
}

.me-s {
	margin-right: var(--size-s);
}

.me-m {
	margin-right: var(--size-m);
}

.me-l {
	margin-right: var(--size-l);
}

.me-xl {
	margin-right: var(--size-xl);
}

.me-xxl {
	margin-right: var(--size-xxl);
}

.me-3xl {
	margin-right: var(--size-3xl);
}

.me-4xl {
	margin-right: var(--size-4xl);
}

.me-5xl {
	margin-right: var(--size-5xl);
}

.mx-xxs {
	margin-left: var(--size-xxs);
	margin-right: var(--size-xxs);
}

.mx-xs {
	margin-left: var(--size-xs);
	margin-right: var(--size-xs);
}

.mx-s {
	margin-left: var(--size-s);
	margin-right: var(--size-s);
}

.mx-m {
	margin-left: var(--size-m);
	margin-right: var(--size-m);
}

.mx-l {
	margin-left: var(--size-l);
	margin-right: var(--size-l);
}

.mx-xl {
	margin-left: var(--size-xl);
	margin-right: var(--size-xl);
}

.mx-xxl {
	margin-left: var(--size-xxl);
	margin-right: var(--size-xxl);
}

.mx-3xl {
	margin-left: var(--size-3xl);
	margin-right: var(--size-3xl);
}

.mx-4xl {
	margin-left: var(--size-4xl);
	margin-right: var(--size-4xl);
}

.mx-5xl {
	margin-left: var(--size-5xl);
	margin-right: var(--size-5xl);
}

.my-xxs {
	margin-top: var(--size-xxs);
	margin-bottom: var(--size-xxs);
}

.my-xs {
	margin-top: var(--size-xs);
	margin-bottom: var(--size-xs);
}

.my-s {
	margin-top: var(--size-s);
	margin-bottom: var(--size-s);
}

.my-m {
	margin-top: var(--size-m);
	margin-bottom: var(--size-m);
}

.my-l {
	margin-top: var(--size-l);
	margin-bottom: var(--size-l);
}

.my-xl {
	margin-top: var(--size-xl);
	margin-bottom: var(--size-xl);
}

.my-xxl {
	margin-top: var(--size-xxl);
	margin-bottom: var(--size-xxl);
}

.my-3xl {
	margin-top: var(--size-3xl);
	margin-bottom: var(--size-3xl);
}

.my-4xl {
	margin-top: var(--size-4xl);
	margin-bottom: var(--size-4xl);
}

.my-5xl {
	margin-top: var(--size-5xl);
	margin-bottom: var(--size-5xl);
}

@media (min-width: 360px) {
	.m-xxs-xxs {
		margin: var(--size-xxs);
	}

	.m-xs-xxs {
		margin: var(--size-xs);
	}

	.m-s-xxs {
		margin: var(--size-s);
	}

	.m-m-xxs {
		margin: var(--size-m);
	}

	.m-l-xxs {
		margin: var(--size-l);
	}

	.m-xl-xxs {
		margin: var(--size-xl);
	}

	.m-xxl-xxs {
		margin: var(--size-xxl);
	}

	.m-3xl-xxs {
		margin: var(--size-3xl);
	}

	.m-4xl-xxs {
		margin: var(--size-4xl);
	}

	.m-5xl-xxs {
		margin: var(--size-5xl);
	}

	.mt-xxs-xxs {
		margin-top: var(--size-xxs);
	}

	.mt-xs-xxs {
		margin-top: var(--size-xs);
	}

	.mt-s-xxs {
		margin-top: var(--size-s);
	}

	.mt-m-xxs {
		margin-top: var(--size-m);
	}

	.mt-l-xxs {
		margin-top: var(--size-l);
	}

	.mt-xl-xxs {
		margin-top: var(--size-xl);
	}

	.mt-xxl-xxs {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-xxs {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-xxs {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-xxs {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-xxs {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-xxs {
		margin-bottom: var(--size-xs);
	}

	.mb-s-xxs {
		margin-bottom: var(--size-s);
	}

	.mb-m-xxs {
		margin-bottom: var(--size-m);
	}

	.mb-l-xxs {
		margin-bottom: var(--size-l);
	}

	.mb-xl-xxs {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-xxs {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-xxs {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-xxs {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-xxs {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-xxs {
		margin-left: var(--size-xxs);
	}

	.ms-xs-xxs {
		margin-left: var(--size-xs);
	}

	.ms-s-xxs {
		margin-left: var(--size-s);
	}

	.ms-m-xxs {
		margin-left: var(--size-m);
	}

	.ms-l-xxs {
		margin-left: var(--size-l);
	}

	.ms-xl-xxs {
		margin-left: var(--size-xl);
	}

	.ms-xxl-xxs {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-xxs {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-xxs {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-xxs {
		margin-left: var(--size-5xl);
	}

	.me-xxs-xxs {
		margin-right: var(--size-xxs);
	}

	.me-xs-xxs {
		margin-right: var(--size-xs);
	}

	.me-s-xxs {
		margin-right: var(--size-s);
	}

	.me-m-xxs {
		margin-right: var(--size-m);
	}

	.me-l-xxs {
		margin-right: var(--size-l);
	}

	.me-xl-xxs {
		margin-right: var(--size-xl);
	}

	.me-xxl-xxs {
		margin-right: var(--size-xxl);
	}

	.me-3xl-xxs {
		margin-right: var(--size-3xl);
	}

	.me-4xl-xxs {
		margin-right: var(--size-4xl);
	}

	.me-5xl-xxs {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-xxs {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-xxs {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-xxs {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-xxs {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-xxs {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-xxs {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-xxs {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-xxs {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-xxs {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-xxs {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-xxs {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-xxs {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-xxs {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-xxs {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-xxs {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-xxs {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-xxs {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-xxs {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-xxs {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-xxs {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}

@media (min-width: 480px) {
	.m-xxs-xs {
		margin: var(--size-xxs);
	}

	.m-xs-xs {
		margin: var(--size-xs);
	}

	.m-s-xs {
		margin: var(--size-s);
	}

	.m-m-xs {
		margin: var(--size-m);
	}

	.m-l-xs {
		margin: var(--size-l);
	}

	.m-xl-xs {
		margin: var(--size-xl);
	}

	.m-xxl-xs {
		margin: var(--size-xxl);
	}

	.m-3xl-xs {
		margin: var(--size-3xl);
	}

	.m-4xl-xs {
		margin: var(--size-4xl);
	}

	.m-5xl-xs {
		margin: var(--size-5xl);
	}

	.mt-xxs-xs {
		margin-top: var(--size-xxs);
	}

	.mt-xs-xs {
		margin-top: var(--size-xs);
	}

	.mt-s-xs {
		margin-top: var(--size-s);
	}

	.mt-m-xs {
		margin-top: var(--size-m);
	}

	.mt-l-xs {
		margin-top: var(--size-l);
	}

	.mt-xl-xs {
		margin-top: var(--size-xl);
	}

	.mt-xxl-xs {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-xs {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-xs {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-xs {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-xs {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-xs {
		margin-bottom: var(--size-xs);
	}

	.mb-s-xs {
		margin-bottom: var(--size-s);
	}

	.mb-m-xs {
		margin-bottom: var(--size-m);
	}

	.mb-l-xs {
		margin-bottom: var(--size-l);
	}

	.mb-xl-xs {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-xs {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-xs {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-xs {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-xs {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-xs {
		margin-left: var(--size-xxs);
	}

	.ms-xs-xs {
		margin-left: var(--size-xs);
	}

	.ms-s-xs {
		margin-left: var(--size-s);
	}

	.ms-m-xs {
		margin-left: var(--size-m);
	}

	.ms-l-xs {
		margin-left: var(--size-l);
	}

	.ms-xl-xs {
		margin-left: var(--size-xl);
	}

	.ms-xxl-xs {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-xs {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-xs {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-xs {
		margin-left: var(--size-5xl);
	}

	.me-xxs-xs {
		margin-right: var(--size-xxs);
	}

	.me-xs-xs {
		margin-right: var(--size-xs);
	}

	.me-s-xs {
		margin-right: var(--size-s);
	}

	.me-m-xs {
		margin-right: var(--size-m);
	}

	.me-l-xs {
		margin-right: var(--size-l);
	}

	.me-xl-xs {
		margin-right: var(--size-xl);
	}

	.me-xxl-xs {
		margin-right: var(--size-xxl);
	}

	.me-3xl-xs {
		margin-right: var(--size-3xl);
	}

	.me-4xl-xs {
		margin-right: var(--size-4xl);
	}

	.me-5xl-xs {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-xs {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-xs {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-xs {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-xs {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-xs {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-xs {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-xs {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-xs {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-xs {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-xs {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-xs {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-xs {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-xs {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-xs {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-xs {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-xs {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-xs {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-xs {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-xs {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-xs {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}

@media (min-width: 576px) {
	.m-xxs-s {
		margin: var(--size-xxs);
	}

	.m-xs-s {
		margin: var(--size-xs);
	}

	.m-s-s {
		margin: var(--size-s);
	}

	.m-m-s {
		margin: var(--size-m);
	}

	.m-l-s {
		margin: var(--size-l);
	}

	.m-xl-s {
		margin: var(--size-xl);
	}

	.m-xxl-s {
		margin: var(--size-xxl);
	}

	.m-3xl-s {
		margin: var(--size-3xl);
	}

	.m-4xl-s {
		margin: var(--size-4xl);
	}

	.m-5xl-s {
		margin: var(--size-5xl);
	}

	.mt-xxs-s {
		margin-top: var(--size-xxs);
	}

	.mt-xs-s {
		margin-top: var(--size-xs);
	}

	.mt-s-s {
		margin-top: var(--size-s);
	}

	.mt-m-s {
		margin-top: var(--size-m);
	}

	.mt-l-s {
		margin-top: var(--size-l);
	}

	.mt-xl-s {
		margin-top: var(--size-xl);
	}

	.mt-xxl-s {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-s {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-s {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-s {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-s {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-s {
		margin-bottom: var(--size-xs);
	}

	.mb-s-s {
		margin-bottom: var(--size-s);
	}

	.mb-m-s {
		margin-bottom: var(--size-m);
	}

	.mb-l-s {
		margin-bottom: var(--size-l);
	}

	.mb-xl-s {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-s {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-s {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-s {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-s {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-s {
		margin-left: var(--size-xxs);
	}

	.ms-xs-s {
		margin-left: var(--size-xs);
	}

	.ms-s-s {
		margin-left: var(--size-s);
	}

	.ms-m-s {
		margin-left: var(--size-m);
	}

	.ms-l-s {
		margin-left: var(--size-l);
	}

	.ms-xl-s {
		margin-left: var(--size-xl);
	}

	.ms-xxl-s {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-s {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-s {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-s {
		margin-left: var(--size-5xl);
	}

	.me-xxs-s {
		margin-right: var(--size-xxs);
	}

	.me-xs-s {
		margin-right: var(--size-xs);
	}

	.me-s-s {
		margin-right: var(--size-s);
	}

	.me-m-s {
		margin-right: var(--size-m);
	}

	.me-l-s {
		margin-right: var(--size-l);
	}

	.me-xl-s {
		margin-right: var(--size-xl);
	}

	.me-xxl-s {
		margin-right: var(--size-xxl);
	}

	.me-3xl-s {
		margin-right: var(--size-3xl);
	}

	.me-4xl-s {
		margin-right: var(--size-4xl);
	}

	.me-5xl-s {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-s {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-s {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-s {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-s {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-s {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-s {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-s {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-s {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-s {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-s {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-s {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-s {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-s {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-s {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-s {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-s {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-s {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-s {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-s {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-s {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}

@media (min-width: 768px) {
	.m-xxs-m {
		margin: var(--size-xxs);
	}

	.m-xs-m {
		margin: var(--size-xs);
	}

	.m-s-m {
		margin: var(--size-s);
	}

	.m-m-m {
		margin: var(--size-m);
	}

	.m-l-m {
		margin: var(--size-l);
	}

	.m-xl-m {
		margin: var(--size-xl);
	}

	.m-xxl-m {
		margin: var(--size-xxl);
	}

	.m-3xl-m {
		margin: var(--size-3xl);
	}

	.m-4xl-m {
		margin: var(--size-4xl);
	}

	.m-5xl-m {
		margin: var(--size-5xl);
	}

	.mt-xxs-m {
		margin-top: var(--size-xxs);
	}

	.mt-xs-m {
		margin-top: var(--size-xs);
	}

	.mt-s-m {
		margin-top: var(--size-s);
	}

	.mt-m-m {
		margin-top: var(--size-m);
	}

	.mt-l-m {
		margin-top: var(--size-l);
	}

	.mt-xl-m {
		margin-top: var(--size-xl);
	}

	.mt-xxl-m {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-m {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-m {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-m {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-m {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-m {
		margin-bottom: var(--size-xs);
	}

	.mb-s-m {
		margin-bottom: var(--size-s);
	}

	.mb-m-m {
		margin-bottom: var(--size-m);
	}

	.mb-l-m {
		margin-bottom: var(--size-l);
	}

	.mb-xl-m {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-m {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-m {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-m {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-m {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-m {
		margin-left: var(--size-xxs);
	}

	.ms-xs-m {
		margin-left: var(--size-xs);
	}

	.ms-s-m {
		margin-left: var(--size-s);
	}

	.ms-m-m {
		margin-left: var(--size-m);
	}

	.ms-l-m {
		margin-left: var(--size-l);
	}

	.ms-xl-m {
		margin-left: var(--size-xl);
	}

	.ms-xxl-m {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-m {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-m {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-m {
		margin-left: var(--size-5xl);
	}

	.me-xxs-m {
		margin-right: var(--size-xxs);
	}

	.me-xs-m {
		margin-right: var(--size-xs);
	}

	.me-s-m {
		margin-right: var(--size-s);
	}

	.me-m-m {
		margin-right: var(--size-m);
	}

	.me-l-m {
		margin-right: var(--size-l);
	}

	.me-xl-m {
		margin-right: var(--size-xl);
	}

	.me-xxl-m {
		margin-right: var(--size-xxl);
	}

	.me-3xl-m {
		margin-right: var(--size-3xl);
	}

	.me-4xl-m {
		margin-right: var(--size-4xl);
	}

	.me-5xl-m {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-m {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-m {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-m {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-m {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-m {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-m {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-m {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-m {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-m {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-m {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-m {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-m {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-m {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-m {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-m {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-m {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-m {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-m {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-m {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-m {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}

@media (min-width: 992px) {
	.m-xxs-l {
		margin: var(--size-xxs);
	}

	.m-xs-l {
		margin: var(--size-xs);
	}

	.m-s-l {
		margin: var(--size-s);
	}

	.m-m-l {
		margin: var(--size-m);
	}

	.m-l-l {
		margin: var(--size-l);
	}

	.m-xl-l {
		margin: var(--size-xl);
	}

	.m-xxl-l {
		margin: var(--size-xxl);
	}

	.m-3xl-l {
		margin: var(--size-3xl);
	}

	.m-4xl-l {
		margin: var(--size-4xl);
	}

	.m-5xl-l {
		margin: var(--size-5xl);
	}

	.mt-xxs-l {
		margin-top: var(--size-xxs);
	}

	.mt-xs-l {
		margin-top: var(--size-xs);
	}

	.mt-s-l {
		margin-top: var(--size-s);
	}

	.mt-m-l {
		margin-top: var(--size-m);
	}

	.mt-l-l {
		margin-top: var(--size-l);
	}

	.mt-xl-l {
		margin-top: var(--size-xl);
	}

	.mt-xxl-l {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-l {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-l {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-l {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-l {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-l {
		margin-bottom: var(--size-xs);
	}

	.mb-s-l {
		margin-bottom: var(--size-s);
	}

	.mb-m-l {
		margin-bottom: var(--size-m);
	}

	.mb-l-l {
		margin-bottom: var(--size-l);
	}

	.mb-xl-l {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-l {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-l {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-l {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-l {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-l {
		margin-left: var(--size-xxs);
	}

	.ms-xs-l {
		margin-left: var(--size-xs);
	}

	.ms-s-l {
		margin-left: var(--size-s);
	}

	.ms-m-l {
		margin-left: var(--size-m);
	}

	.ms-l-l {
		margin-left: var(--size-l);
	}

	.ms-xl-l {
		margin-left: var(--size-xl);
	}

	.ms-xxl-l {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-l {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-l {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-l {
		margin-left: var(--size-5xl);
	}

	.me-xxs-l {
		margin-right: var(--size-xxs);
	}

	.me-xs-l {
		margin-right: var(--size-xs);
	}

	.me-s-l {
		margin-right: var(--size-s);
	}

	.me-m-l {
		margin-right: var(--size-m);
	}

	.me-l-l {
		margin-right: var(--size-l);
	}

	.me-xl-l {
		margin-right: var(--size-xl);
	}

	.me-xxl-l {
		margin-right: var(--size-xxl);
	}

	.me-3xl-l {
		margin-right: var(--size-3xl);
	}

	.me-4xl-l {
		margin-right: var(--size-4xl);
	}

	.me-5xl-l {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-l {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-l {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-l {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-l {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-l {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-l {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-l {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-l {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-l {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-l {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-l {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-l {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-l {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-l {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-l {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-l {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-l {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-l {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-l {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-l {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}

@media (min-width: 1200px) {
	.m-xxs-xl {
		margin: var(--size-xxs);
	}

	.m-xs-xl {
		margin: var(--size-xs);
	}

	.m-s-xl {
		margin: var(--size-s);
	}

	.m-m-xl {
		margin: var(--size-m);
	}

	.m-l-xl {
		margin: var(--size-l);
	}

	.m-xl-xl {
		margin: var(--size-xl);
	}

	.m-xxl-xl {
		margin: var(--size-xxl);
	}

	.m-3xl-xl {
		margin: var(--size-3xl);
	}

	.m-4xl-xl {
		margin: var(--size-4xl);
	}

	.m-5xl-xl {
		margin: var(--size-5xl);
	}

	.mt-xxs-xl {
		margin-top: var(--size-xxs);
	}

	.mt-xs-xl {
		margin-top: var(--size-xs);
	}

	.mt-s-xl {
		margin-top: var(--size-s);
	}

	.mt-m-xl {
		margin-top: var(--size-m);
	}

	.mt-l-xl {
		margin-top: var(--size-l);
	}

	.mt-xl-xl {
		margin-top: var(--size-xl);
	}

	.mt-xxl-xl {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-xl {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-xl {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-xl {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-xl {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-xl {
		margin-bottom: var(--size-xs);
	}

	.mb-s-xl {
		margin-bottom: var(--size-s);
	}

	.mb-m-xl {
		margin-bottom: var(--size-m);
	}

	.mb-l-xl {
		margin-bottom: var(--size-l);
	}

	.mb-xl-xl {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-xl {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-xl {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-xl {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-xl {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-xl {
		margin-left: var(--size-xxs);
	}

	.ms-xs-xl {
		margin-left: var(--size-xs);
	}

	.ms-s-xl {
		margin-left: var(--size-s);
	}

	.ms-m-xl {
		margin-left: var(--size-m);
	}

	.ms-l-xl {
		margin-left: var(--size-l);
	}

	.ms-xl-xl {
		margin-left: var(--size-xl);
	}

	.ms-xxl-xl {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-xl {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-xl {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-xl {
		margin-left: var(--size-5xl);
	}

	.me-xxs-xl {
		margin-right: var(--size-xxs);
	}

	.me-xs-xl {
		margin-right: var(--size-xs);
	}

	.me-s-xl {
		margin-right: var(--size-s);
	}

	.me-m-xl {
		margin-right: var(--size-m);
	}

	.me-l-xl {
		margin-right: var(--size-l);
	}

	.me-xl-xl {
		margin-right: var(--size-xl);
	}

	.me-xxl-xl {
		margin-right: var(--size-xxl);
	}

	.me-3xl-xl {
		margin-right: var(--size-3xl);
	}

	.me-4xl-xl {
		margin-right: var(--size-4xl);
	}

	.me-5xl-xl {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-xl {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-xl {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-xl {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-xl {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-xl {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-xl {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-xl {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-xl {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-xl {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-xl {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-xl {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-xl {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-xl {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-xl {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-xl {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-xl {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-xl {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-xl {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-xl {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-xl {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}

@media (min-width: 1400px) {
	.m-xxs-xxl {
		margin: var(--size-xxs);
	}

	.m-xs-xxl {
		margin: var(--size-xs);
	}

	.m-s-xxl {
		margin: var(--size-s);
	}

	.m-m-xxl {
		margin: var(--size-m);
	}

	.m-l-xxl {
		margin: var(--size-l);
	}

	.m-xl-xxl {
		margin: var(--size-xl);
	}

	.m-xxl-xxl {
		margin: var(--size-xxl);
	}

	.m-3xl-xxl {
		margin: var(--size-3xl);
	}

	.m-4xl-xxl {
		margin: var(--size-4xl);
	}

	.m-5xl-xxl {
		margin: var(--size-5xl);
	}

	.mt-xxs-xxl {
		margin-top: var(--size-xxs);
	}

	.mt-xs-xxl {
		margin-top: var(--size-xs);
	}

	.mt-s-xxl {
		margin-top: var(--size-s);
	}

	.mt-m-xxl {
		margin-top: var(--size-m);
	}

	.mt-l-xxl {
		margin-top: var(--size-l);
	}

	.mt-xl-xxl {
		margin-top: var(--size-xl);
	}

	.mt-xxl-xxl {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-xxl {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-xxl {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-xxl {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-xxl {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-xxl {
		margin-bottom: var(--size-xs);
	}

	.mb-s-xxl {
		margin-bottom: var(--size-s);
	}

	.mb-m-xxl {
		margin-bottom: var(--size-m);
	}

	.mb-l-xxl {
		margin-bottom: var(--size-l);
	}

	.mb-xl-xxl {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-xxl {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-xxl {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-xxl {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-xxl {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-xxl {
		margin-left: var(--size-xxs);
	}

	.ms-xs-xxl {
		margin-left: var(--size-xs);
	}

	.ms-s-xxl {
		margin-left: var(--size-s);
	}

	.ms-m-xxl {
		margin-left: var(--size-m);
	}

	.ms-l-xxl {
		margin-left: var(--size-l);
	}

	.ms-xl-xxl {
		margin-left: var(--size-xl);
	}

	.ms-xxl-xxl {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-xxl {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-xxl {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-xxl {
		margin-left: var(--size-5xl);
	}

	.me-xxs-xxl {
		margin-right: var(--size-xxs);
	}

	.me-xs-xxl {
		margin-right: var(--size-xs);
	}

	.me-s-xxl {
		margin-right: var(--size-s);
	}

	.me-m-xxl {
		margin-right: var(--size-m);
	}

	.me-l-xxl {
		margin-right: var(--size-l);
	}

	.me-xl-xxl {
		margin-right: var(--size-xl);
	}

	.me-xxl-xxl {
		margin-right: var(--size-xxl);
	}

	.me-3xl-xxl {
		margin-right: var(--size-3xl);
	}

	.me-4xl-xxl {
		margin-right: var(--size-4xl);
	}

	.me-5xl-xxl {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-xxl {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-xxl {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-xxl {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-xxl {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-xxl {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-xxl {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-xxl {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-xxl {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-xxl {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-xxl {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-xxl {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-xxl {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-xxl {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-xxl {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-xxl {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-xxl {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-xxl {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-xxl {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-xxl {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-xxl {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}

@media (min-width: 1600px) {
	.m-xxs-3xl {
		margin: var(--size-xxs);
	}

	.m-xs-3xl {
		margin: var(--size-xs);
	}

	.m-s-3xl {
		margin: var(--size-s);
	}

	.m-m-3xl {
		margin: var(--size-m);
	}

	.m-l-3xl {
		margin: var(--size-l);
	}

	.m-xl-3xl {
		margin: var(--size-xl);
	}

	.m-xxl-3xl {
		margin: var(--size-xxl);
	}

	.m-3xl-3xl {
		margin: var(--size-3xl);
	}

	.m-4xl-3xl {
		margin: var(--size-4xl);
	}

	.m-5xl-3xl {
		margin: var(--size-5xl);
	}

	.mt-xxs-3xl {
		margin-top: var(--size-xxs);
	}

	.mt-xs-3xl {
		margin-top: var(--size-xs);
	}

	.mt-s-3xl {
		margin-top: var(--size-s);
	}

	.mt-m-3xl {
		margin-top: var(--size-m);
	}

	.mt-l-3xl {
		margin-top: var(--size-l);
	}

	.mt-xl-3xl {
		margin-top: var(--size-xl);
	}

	.mt-xxl-3xl {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-3xl {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-3xl {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-3xl {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-3xl {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-3xl {
		margin-bottom: var(--size-xs);
	}

	.mb-s-3xl {
		margin-bottom: var(--size-s);
	}

	.mb-m-3xl {
		margin-bottom: var(--size-m);
	}

	.mb-l-3xl {
		margin-bottom: var(--size-l);
	}

	.mb-xl-3xl {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-3xl {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-3xl {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-3xl {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-3xl {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-3xl {
		margin-left: var(--size-xxs);
	}

	.ms-xs-3xl {
		margin-left: var(--size-xs);
	}

	.ms-s-3xl {
		margin-left: var(--size-s);
	}

	.ms-m-3xl {
		margin-left: var(--size-m);
	}

	.ms-l-3xl {
		margin-left: var(--size-l);
	}

	.ms-xl-3xl {
		margin-left: var(--size-xl);
	}

	.ms-xxl-3xl {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-3xl {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-3xl {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-3xl {
		margin-left: var(--size-5xl);
	}

	.me-xxs-3xl {
		margin-right: var(--size-xxs);
	}

	.me-xs-3xl {
		margin-right: var(--size-xs);
	}

	.me-s-3xl {
		margin-right: var(--size-s);
	}

	.me-m-3xl {
		margin-right: var(--size-m);
	}

	.me-l-3xl {
		margin-right: var(--size-l);
	}

	.me-xl-3xl {
		margin-right: var(--size-xl);
	}

	.me-xxl-3xl {
		margin-right: var(--size-xxl);
	}

	.me-3xl-3xl {
		margin-right: var(--size-3xl);
	}

	.me-4xl-3xl {
		margin-right: var(--size-4xl);
	}

	.me-5xl-3xl {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-3xl {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-3xl {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-3xl {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-3xl {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-3xl {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-3xl {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-3xl {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-3xl {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-3xl {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-3xl {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-3xl {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-3xl {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-3xl {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-3xl {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-3xl {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-3xl {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-3xl {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-3xl {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-3xl {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-3xl {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}

@media (min-width: 1920px) {
	.m-xxs-4xl {
		margin: var(--size-xxs);
	}

	.m-xs-4xl {
		margin: var(--size-xs);
	}

	.m-s-4xl {
		margin: var(--size-s);
	}

	.m-m-4xl {
		margin: var(--size-m);
	}

	.m-l-4xl {
		margin: var(--size-l);
	}

	.m-xl-4xl {
		margin: var(--size-xl);
	}

	.m-xxl-4xl {
		margin: var(--size-xxl);
	}

	.m-3xl-4xl {
		margin: var(--size-3xl);
	}

	.m-4xl-4xl {
		margin: var(--size-4xl);
	}

	.m-5xl-4xl {
		margin: var(--size-5xl);
	}

	.mt-xxs-4xl {
		margin-top: var(--size-xxs);
	}

	.mt-xs-4xl {
		margin-top: var(--size-xs);
	}

	.mt-s-4xl {
		margin-top: var(--size-s);
	}

	.mt-m-4xl {
		margin-top: var(--size-m);
	}

	.mt-l-4xl {
		margin-top: var(--size-l);
	}

	.mt-xl-4xl {
		margin-top: var(--size-xl);
	}

	.mt-xxl-4xl {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-4xl {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-4xl {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-4xl {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-4xl {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-4xl {
		margin-bottom: var(--size-xs);
	}

	.mb-s-4xl {
		margin-bottom: var(--size-s);
	}

	.mb-m-4xl {
		margin-bottom: var(--size-m);
	}

	.mb-l-4xl {
		margin-bottom: var(--size-l);
	}

	.mb-xl-4xl {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-4xl {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-4xl {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-4xl {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-4xl {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-4xl {
		margin-left: var(--size-xxs);
	}

	.ms-xs-4xl {
		margin-left: var(--size-xs);
	}

	.ms-s-4xl {
		margin-left: var(--size-s);
	}

	.ms-m-4xl {
		margin-left: var(--size-m);
	}

	.ms-l-4xl {
		margin-left: var(--size-l);
	}

	.ms-xl-4xl {
		margin-left: var(--size-xl);
	}

	.ms-xxl-4xl {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-4xl {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-4xl {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-4xl {
		margin-left: var(--size-5xl);
	}

	.me-xxs-4xl {
		margin-right: var(--size-xxs);
	}

	.me-xs-4xl {
		margin-right: var(--size-xs);
	}

	.me-s-4xl {
		margin-right: var(--size-s);
	}

	.me-m-4xl {
		margin-right: var(--size-m);
	}

	.me-l-4xl {
		margin-right: var(--size-l);
	}

	.me-xl-4xl {
		margin-right: var(--size-xl);
	}

	.me-xxl-4xl {
		margin-right: var(--size-xxl);
	}

	.me-3xl-4xl {
		margin-right: var(--size-3xl);
	}

	.me-4xl-4xl {
		margin-right: var(--size-4xl);
	}

	.me-5xl-4xl {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-4xl {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-4xl {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-4xl {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-4xl {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-4xl {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-4xl {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-4xl {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-4xl {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-4xl {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-4xl {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-4xl {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-4xl {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-4xl {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-4xl {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-4xl {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-4xl {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-4xl {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-4xl {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-4xl {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-4xl {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}

@media (min-width: 2560px) {
	.m-xxs-5xl {
		margin: var(--size-xxs);
	}

	.m-xs-5xl {
		margin: var(--size-xs);
	}

	.m-s-5xl {
		margin: var(--size-s);
	}

	.m-m-5xl {
		margin: var(--size-m);
	}

	.m-l-5xl {
		margin: var(--size-l);
	}

	.m-xl-5xl {
		margin: var(--size-xl);
	}

	.m-xxl-5xl {
		margin: var(--size-xxl);
	}

	.m-3xl-5xl {
		margin: var(--size-3xl);
	}

	.m-4xl-5xl {
		margin: var(--size-4xl);
	}

	.m-5xl-5xl {
		margin: var(--size-5xl);
	}

	.mt-xxs-5xl {
		margin-top: var(--size-xxs);
	}

	.mt-xs-5xl {
		margin-top: var(--size-xs);
	}

	.mt-s-5xl {
		margin-top: var(--size-s);
	}

	.mt-m-5xl {
		margin-top: var(--size-m);
	}

	.mt-l-5xl {
		margin-top: var(--size-l);
	}

	.mt-xl-5xl {
		margin-top: var(--size-xl);
	}

	.mt-xxl-5xl {
		margin-top: var(--size-xxl);
	}

	.mt-3xl-5xl {
		margin-top: var(--size-3xl);
	}

	.mt-4xl-5xl {
		margin-top: var(--size-4xl);
	}

	.mt-5xl-5xl {
		margin-top: var(--size-5xl);
	}

	.mb-xxs-5xl {
		margin-bottom: var(--size-xxs);
	}

	.mb-xs-5xl {
		margin-bottom: var(--size-xs);
	}

	.mb-s-5xl {
		margin-bottom: var(--size-s);
	}

	.mb-m-5xl {
		margin-bottom: var(--size-m);
	}

	.mb-l-5xl {
		margin-bottom: var(--size-l);
	}

	.mb-xl-5xl {
		margin-bottom: var(--size-xl);
	}

	.mb-xxl-5xl {
		margin-bottom: var(--size-xxl);
	}

	.mb-3xl-5xl {
		margin-bottom: var(--size-3xl);
	}

	.mb-4xl-5xl {
		margin-bottom: var(--size-4xl);
	}

	.mb-5xl-5xl {
		margin-bottom: var(--size-5xl);
	}

	.ms-xxs-5xl {
		margin-left: var(--size-xxs);
	}

	.ms-xs-5xl {
		margin-left: var(--size-xs);
	}

	.ms-s-5xl {
		margin-left: var(--size-s);
	}

	.ms-m-5xl {
		margin-left: var(--size-m);
	}

	.ms-l-5xl {
		margin-left: var(--size-l);
	}

	.ms-xl-5xl {
		margin-left: var(--size-xl);
	}

	.ms-xxl-5xl {
		margin-left: var(--size-xxl);
	}

	.ms-3xl-5xl {
		margin-left: var(--size-3xl);
	}

	.ms-4xl-5xl {
		margin-left: var(--size-4xl);
	}

	.ms-5xl-5xl {
		margin-left: var(--size-5xl);
	}

	.me-xxs-5xl {
		margin-right: var(--size-xxs);
	}

	.me-xs-5xl {
		margin-right: var(--size-xs);
	}

	.me-s-5xl {
		margin-right: var(--size-s);
	}

	.me-m-5xl {
		margin-right: var(--size-m);
	}

	.me-l-5xl {
		margin-right: var(--size-l);
	}

	.me-xl-5xl {
		margin-right: var(--size-xl);
	}

	.me-xxl-5xl {
		margin-right: var(--size-xxl);
	}

	.me-3xl-5xl {
		margin-right: var(--size-3xl);
	}

	.me-4xl-5xl {
		margin-right: var(--size-4xl);
	}

	.me-5xl-5xl {
		margin-right: var(--size-5xl);
	}

	.mx-xxs-5xl {
		margin-left: var(--size-xxs);
		margin-right: var(--size-xxs);
	}

	.mx-xs-5xl {
		margin-left: var(--size-xs);
		margin-right: var(--size-xs);
	}

	.mx-s-5xl {
		margin-left: var(--size-s);
		margin-right: var(--size-s);
	}

	.mx-m-5xl {
		margin-left: var(--size-m);
		margin-right: var(--size-m);
	}

	.mx-l-5xl {
		margin-left: var(--size-l);
		margin-right: var(--size-l);
	}

	.mx-xl-5xl {
		margin-left: var(--size-xl);
		margin-right: var(--size-xl);
	}

	.mx-xxl-5xl {
		margin-left: var(--size-xxl);
		margin-right: var(--size-xxl);
	}

	.mx-3xl-5xl {
		margin-left: var(--size-3xl);
		margin-right: var(--size-3xl);
	}

	.mx-4xl-5xl {
		margin-left: var(--size-4xl);
		margin-right: var(--size-4xl);
	}

	.mx-5xl-5xl {
		margin-left: var(--size-5xl);
		margin-right: var(--size-5xl);
	}

	.my-xxs-5xl {
		margin-top: var(--size-xxs);
		margin-bottom: var(--size-xxs);
	}

	.my-xs-5xl {
		margin-top: var(--size-xs);
		margin-bottom: var(--size-xs);
	}

	.my-s-5xl {
		margin-top: var(--size-s);
		margin-bottom: var(--size-s);
	}

	.my-m-5xl {
		margin-top: var(--size-m);
		margin-bottom: var(--size-m);
	}

	.my-l-5xl {
		margin-top: var(--size-l);
		margin-bottom: var(--size-l);
	}

	.my-xl-5xl {
		margin-top: var(--size-xl);
		margin-bottom: var(--size-xl);
	}

	.my-xxl-5xl {
		margin-top: var(--size-xxl);
		margin-bottom: var(--size-xxl);
	}

	.my-3xl-5xl {
		margin-top: var(--size-3xl);
		margin-bottom: var(--size-3xl);
	}

	.my-4xl-5xl {
		margin-top: var(--size-4xl);
		margin-bottom: var(--size-4xl);
	}

	.my-5xl-5xl {
		margin-top: var(--size-5xl);
		margin-bottom: var(--size-5xl);
	}
}