.p-xxs {
	padding: var(--size-xxs);
}

.p-xs {
	padding: var(--size-xs);
}

.p-s {
	padding: var(--size-s);
}

.p-m {
	padding: var(--size-m);
}

.p-l {
	padding: var(--size-l);
}

.p-xl {
	padding: var(--size-xl);
}

.p-xxl {
	padding: var(--size-xxl);
}

.p-3xl {
	padding: var(--size-3xl);
}

.p-4xl {
	padding: var(--size-4xl);
}

.p-5xl {
	padding: var(--size-5xl);
}

.pt-xxs {
	padding-top: var(--size-xxs);
}

.pt-xs {
	padding-top: var(--size-xs);
}

.pt-s {
	padding-top: var(--size-s);
}

.pt-m {
	padding-top: var(--size-m);
}

.pt-l {
	padding-top: var(--size-l);
}

.pt-xl {
	padding-top: var(--size-xl);
}

.pt-xxl {
	padding-top: var(--size-xxl);
}

.pt-3xl {
	padding-top: var(--size-3xl);
}

.pt-4xl {
	padding-top: var(--size-4xl);
}

.pt-5xl {
	padding-top: var(--size-5xl);
}

.pb-xxs {
	padding-bottom: var(--size-xxs);
}

.pb-xs {
	padding-bottom: var(--size-xs);
}

.pb-s {
	padding-bottom: var(--size-s);
}

.pb-m {
	padding-bottom: var(--size-m);
}

.pb-l {
	padding-bottom: var(--size-l);
}

.pb-xl {
	padding-bottom: var(--size-xl);
}

.pb-xxl {
	padding-bottom: var(--size-xxl);
}

.pb-3xl {
	padding-bottom: var(--size-3xl);
}

.pb-4xl {
	padding-bottom: var(--size-4xl);
}

.pb-5xl {
	padding-bottom: var(--size-5xl);
}

.ps-xxs {
	padding-left: var(--size-xxs);
}

.ps-xs {
	padding-left: var(--size-xs);
}

.ps-s {
	padding-left: var(--size-s);
}

.ps-m {
	padding-left: var(--size-m);
}

.ps-l {
	padding-left: var(--size-l);
}

.ps-xl {
	padding-left: var(--size-xl);
}

.ps-xxl {
	padding-left: var(--size-xxl);
}

.ps-3xl {
	padding-left: var(--size-3xl);
}

.ps-4xl {
	padding-left: var(--size-4xl);
}

.ps-5xl {
	padding-left: var(--size-5xl);
}

.pe-xxs {
	padding-right: var(--size-xxs);
}

.pe-xs {
	padding-right: var(--size-xs);
}

.pe-s {
	padding-right: var(--size-s);
}

.pe-m {
	padding-right: var(--size-m);
}

.pe-l {
	padding-right: var(--size-l);
}

.pe-xl {
	padding-right: var(--size-xl);
}

.pe-xxl {
	padding-right: var(--size-xxl);
}

.pe-3xl {
	padding-right: var(--size-3xl);
}

.pe-4xl {
	padding-right: var(--size-4xl);
}

.pe-5xl {
	padding-right: var(--size-5xl);
}

.px-xxs {
	padding-left: var(--size-xxs);
	padding-right: var(--size-xxs);
}

.px-xs {
	padding-left: var(--size-xs);
	padding-right: var(--size-xs);
}

.px-s {
	padding-left: var(--size-s);
	padding-right: var(--size-s);
}

.px-m {
	padding-left: var(--size-m);
	padding-right: var(--size-m);
}

.px-l {
	padding-left: var(--size-l);
	padding-right: var(--size-l);
}

.px-xl {
	padding-left: var(--size-xl);
	padding-right: var(--size-xl);
}

.px-xxl {
	padding-left: var(--size-xxl);
	padding-right: var(--size-xxl);
}

.px-3xl {
	padding-left: var(--size-3xl);
	padding-right: var(--size-3xl);
}

.px-4xl {
	padding-left: var(--size-4xl);
	padding-right: var(--size-4xl);
}

.px-5xl {
	padding-left: var(--size-5xl);
	padding-right: var(--size-5xl);
}

.py-xxs {
	padding-top: var(--size-xxs);
	padding-bottom: var(--size-xxs);
}

.py-xs {
	padding-top: var(--size-xs);
	padding-bottom: var(--size-xs);
}

.py-s {
	padding-top: var(--size-s);
	padding-bottom: var(--size-s);
}

.py-m {
	padding-top: var(--size-m);
	padding-bottom: var(--size-m);
}

.py-l {
	padding-top: var(--size-l);
	padding-bottom: var(--size-l);
}

.py-xl {
	padding-top: var(--size-xl);
	padding-bottom: var(--size-xl);
}

.py-xxl {
	padding-top: var(--size-xxl);
	padding-bottom: var(--size-xxl);
}

.py-3xl {
	padding-top: var(--size-3xl);
	padding-bottom: var(--size-3xl);
}

.py-4xl {
	padding-top: var(--size-4xl);
	padding-bottom: var(--size-4xl);
}

.py-5xl {
	padding-top: var(--size-5xl);
	padding-bottom: var(--size-5xl);
}

@media (min-width: 360px) {
	.p-xxs-xxs {
		padding: var(--size-xxs);
	}

	.p-xs-xxs {
		padding: var(--size-xs);
	}

	.p-s-xxs {
		padding: var(--size-s);
	}

	.p-m-xxs {
		padding: var(--size-m);
	}

	.p-l-xxs {
		padding: var(--size-l);
	}

	.p-xl-xxs {
		padding: var(--size-xl);
	}

	.p-xxl-xxs {
		padding: var(--size-xxl);
	}

	.p-3xl-xxs {
		padding: var(--size-3xl);
	}

	.p-4xl-xxs {
		padding: var(--size-4xl);
	}

	.p-5xl-xxs {
		padding: var(--size-5xl);
	}

	.pt-xxs-xxs {
		padding-top: var(--size-xxs);
	}

	.pt-xs-xxs {
		padding-top: var(--size-xs);
	}

	.pt-s-xxs {
		padding-top: var(--size-s);
	}

	.pt-m-xxs {
		padding-top: var(--size-m);
	}

	.pt-l-xxs {
		padding-top: var(--size-l);
	}

	.pt-xl-xxs {
		padding-top: var(--size-xl);
	}

	.pt-xxl-xxs {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-xxs {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-xxs {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-xxs {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-xxs {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-xxs {
		padding-bottom: var(--size-xs);
	}

	.pb-s-xxs {
		padding-bottom: var(--size-s);
	}

	.pb-m-xxs {
		padding-bottom: var(--size-m);
	}

	.pb-l-xxs {
		padding-bottom: var(--size-l);
	}

	.pb-xl-xxs {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-xxs {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-xxs {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-xxs {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-xxs {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-xxs {
		padding-left: var(--size-xxs);
	}

	.ps-xs-xxs {
		padding-left: var(--size-xs);
	}

	.ps-s-xxs {
		padding-left: var(--size-s);
	}

	.ps-m-xxs {
		padding-left: var(--size-m);
	}

	.ps-l-xxs {
		padding-left: var(--size-l);
	}

	.ps-xl-xxs {
		padding-left: var(--size-xl);
	}

	.ps-xxl-xxs {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-xxs {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-xxs {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-xxs {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-xxs {
		padding-right: var(--size-xxs);
	}

	.pe-xs-xxs {
		padding-right: var(--size-xs);
	}

	.pe-s-xxs {
		padding-right: var(--size-s);
	}

	.pe-m-xxs {
		padding-right: var(--size-m);
	}

	.pe-l-xxs {
		padding-right: var(--size-l);
	}

	.pe-xl-xxs {
		padding-right: var(--size-xl);
	}

	.pe-xxl-xxs {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-xxs {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-xxs {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-xxs {
		padding-right: var(--size-5xl);
	}

	.px-xxs-xxs {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-xxs {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-xxs {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-xxs {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-xxs {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-xxs {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-xxs {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-xxs {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-xxs {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-xxs {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-xxs {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-xxs {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-xxs {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-xxs {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-xxs {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-xxs {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-xxs {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-xxs {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-xxs {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-xxs {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}

@media (min-width: 480px) {
	.p-xxs-xs {
		padding: var(--size-xxs);
	}

	.p-xs-xs {
		padding: var(--size-xs);
	}

	.p-s-xs {
		padding: var(--size-s);
	}

	.p-m-xs {
		padding: var(--size-m);
	}

	.p-l-xs {
		padding: var(--size-l);
	}

	.p-xl-xs {
		padding: var(--size-xl);
	}

	.p-xxl-xs {
		padding: var(--size-xxl);
	}

	.p-3xl-xs {
		padding: var(--size-3xl);
	}

	.p-4xl-xs {
		padding: var(--size-4xl);
	}

	.p-5xl-xs {
		padding: var(--size-5xl);
	}

	.pt-xxs-xs {
		padding-top: var(--size-xxs);
	}

	.pt-xs-xs {
		padding-top: var(--size-xs);
	}

	.pt-s-xs {
		padding-top: var(--size-s);
	}

	.pt-m-xs {
		padding-top: var(--size-m);
	}

	.pt-l-xs {
		padding-top: var(--size-l);
	}

	.pt-xl-xs {
		padding-top: var(--size-xl);
	}

	.pt-xxl-xs {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-xs {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-xs {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-xs {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-xs {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-xs {
		padding-bottom: var(--size-xs);
	}

	.pb-s-xs {
		padding-bottom: var(--size-s);
	}

	.pb-m-xs {
		padding-bottom: var(--size-m);
	}

	.pb-l-xs {
		padding-bottom: var(--size-l);
	}

	.pb-xl-xs {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-xs {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-xs {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-xs {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-xs {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-xs {
		padding-left: var(--size-xxs);
	}

	.ps-xs-xs {
		padding-left: var(--size-xs);
	}

	.ps-s-xs {
		padding-left: var(--size-s);
	}

	.ps-m-xs {
		padding-left: var(--size-m);
	}

	.ps-l-xs {
		padding-left: var(--size-l);
	}

	.ps-xl-xs {
		padding-left: var(--size-xl);
	}

	.ps-xxl-xs {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-xs {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-xs {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-xs {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-xs {
		padding-right: var(--size-xxs);
	}

	.pe-xs-xs {
		padding-right: var(--size-xs);
	}

	.pe-s-xs {
		padding-right: var(--size-s);
	}

	.pe-m-xs {
		padding-right: var(--size-m);
	}

	.pe-l-xs {
		padding-right: var(--size-l);
	}

	.pe-xl-xs {
		padding-right: var(--size-xl);
	}

	.pe-xxl-xs {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-xs {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-xs {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-xs {
		padding-right: var(--size-5xl);
	}

	.px-xxs-xs {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-xs {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-xs {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-xs {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-xs {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-xs {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-xs {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-xs {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-xs {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-xs {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-xs {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-xs {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-xs {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-xs {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-xs {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-xs {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-xs {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-xs {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-xs {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-xs {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}

@media (min-width: 576px) {
	.p-xxs-s {
		padding: var(--size-xxs);
	}

	.p-xs-s {
		padding: var(--size-xs);
	}

	.p-s-s {
		padding: var(--size-s);
	}

	.p-m-s {
		padding: var(--size-m);
	}

	.p-l-s {
		padding: var(--size-l);
	}

	.p-xl-s {
		padding: var(--size-xl);
	}

	.p-xxl-s {
		padding: var(--size-xxl);
	}

	.p-3xl-s {
		padding: var(--size-3xl);
	}

	.p-4xl-s {
		padding: var(--size-4xl);
	}

	.p-5xl-s {
		padding: var(--size-5xl);
	}

	.pt-xxs-s {
		padding-top: var(--size-xxs);
	}

	.pt-xs-s {
		padding-top: var(--size-xs);
	}

	.pt-s-s {
		padding-top: var(--size-s);
	}

	.pt-m-s {
		padding-top: var(--size-m);
	}

	.pt-l-s {
		padding-top: var(--size-l);
	}

	.pt-xl-s {
		padding-top: var(--size-xl);
	}

	.pt-xxl-s {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-s {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-s {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-s {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-s {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-s {
		padding-bottom: var(--size-xs);
	}

	.pb-s-s {
		padding-bottom: var(--size-s);
	}

	.pb-m-s {
		padding-bottom: var(--size-m);
	}

	.pb-l-s {
		padding-bottom: var(--size-l);
	}

	.pb-xl-s {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-s {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-s {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-s {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-s {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-s {
		padding-left: var(--size-xxs);
	}

	.ps-xs-s {
		padding-left: var(--size-xs);
	}

	.ps-s-s {
		padding-left: var(--size-s);
	}

	.ps-m-s {
		padding-left: var(--size-m);
	}

	.ps-l-s {
		padding-left: var(--size-l);
	}

	.ps-xl-s {
		padding-left: var(--size-xl);
	}

	.ps-xxl-s {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-s {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-s {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-s {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-s {
		padding-right: var(--size-xxs);
	}

	.pe-xs-s {
		padding-right: var(--size-xs);
	}

	.pe-s-s {
		padding-right: var(--size-s);
	}

	.pe-m-s {
		padding-right: var(--size-m);
	}

	.pe-l-s {
		padding-right: var(--size-l);
	}

	.pe-xl-s {
		padding-right: var(--size-xl);
	}

	.pe-xxl-s {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-s {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-s {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-s {
		padding-right: var(--size-5xl);
	}

	.px-xxs-s {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-s {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-s {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-s {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-s {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-s {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-s {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-s {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-s {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-s {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-s {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-s {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-s {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-s {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-s {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-s {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-s {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-s {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-s {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-s {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}

@media (min-width: 768px) {
	.p-xxs-m {
		padding: var(--size-xxs);
	}

	.p-xs-m {
		padding: var(--size-xs);
	}

	.p-s-m {
		padding: var(--size-s);
	}

	.p-m-m {
		padding: var(--size-m);
	}

	.p-l-m {
		padding: var(--size-l);
	}

	.p-xl-m {
		padding: var(--size-xl);
	}

	.p-xxl-m {
		padding: var(--size-xxl);
	}

	.p-3xl-m {
		padding: var(--size-3xl);
	}

	.p-4xl-m {
		padding: var(--size-4xl);
	}

	.p-5xl-m {
		padding: var(--size-5xl);
	}

	.pt-xxs-m {
		padding-top: var(--size-xxs);
	}

	.pt-xs-m {
		padding-top: var(--size-xs);
	}

	.pt-s-m {
		padding-top: var(--size-s);
	}

	.pt-m-m {
		padding-top: var(--size-m);
	}

	.pt-l-m {
		padding-top: var(--size-l);
	}

	.pt-xl-m {
		padding-top: var(--size-xl);
	}

	.pt-xxl-m {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-m {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-m {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-m {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-m {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-m {
		padding-bottom: var(--size-xs);
	}

	.pb-s-m {
		padding-bottom: var(--size-s);
	}

	.pb-m-m {
		padding-bottom: var(--size-m);
	}

	.pb-l-m {
		padding-bottom: var(--size-l);
	}

	.pb-xl-m {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-m {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-m {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-m {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-m {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-m {
		padding-left: var(--size-xxs);
	}

	.ps-xs-m {
		padding-left: var(--size-xs);
	}

	.ps-s-m {
		padding-left: var(--size-s);
	}

	.ps-m-m {
		padding-left: var(--size-m);
	}

	.ps-l-m {
		padding-left: var(--size-l);
	}

	.ps-xl-m {
		padding-left: var(--size-xl);
	}

	.ps-xxl-m {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-m {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-m {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-m {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-m {
		padding-right: var(--size-xxs);
	}

	.pe-xs-m {
		padding-right: var(--size-xs);
	}

	.pe-s-m {
		padding-right: var(--size-s);
	}

	.pe-m-m {
		padding-right: var(--size-m);
	}

	.pe-l-m {
		padding-right: var(--size-l);
	}

	.pe-xl-m {
		padding-right: var(--size-xl);
	}

	.pe-xxl-m {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-m {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-m {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-m {
		padding-right: var(--size-5xl);
	}

	.px-xxs-m {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-m {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-m {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-m {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-m {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-m {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-m {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-m {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-m {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-m {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-m {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-m {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-m {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-m {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-m {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-m {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-m {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-m {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-m {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-m {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}

@media (min-width: 992px) {
	.p-xxs-l {
		padding: var(--size-xxs);
	}

	.p-xs-l {
		padding: var(--size-xs);
	}

	.p-s-l {
		padding: var(--size-s);
	}

	.p-m-l {
		padding: var(--size-m);
	}

	.p-l-l {
		padding: var(--size-l);
	}

	.p-xl-l {
		padding: var(--size-xl);
	}

	.p-xxl-l {
		padding: var(--size-xxl);
	}

	.p-3xl-l {
		padding: var(--size-3xl);
	}

	.p-4xl-l {
		padding: var(--size-4xl);
	}

	.p-5xl-l {
		padding: var(--size-5xl);
	}

	.pt-xxs-l {
		padding-top: var(--size-xxs);
	}

	.pt-xs-l {
		padding-top: var(--size-xs);
	}

	.pt-s-l {
		padding-top: var(--size-s);
	}

	.pt-m-l {
		padding-top: var(--size-m);
	}

	.pt-l-l {
		padding-top: var(--size-l);
	}

	.pt-xl-l {
		padding-top: var(--size-xl);
	}

	.pt-xxl-l {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-l {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-l {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-l {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-l {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-l {
		padding-bottom: var(--size-xs);
	}

	.pb-s-l {
		padding-bottom: var(--size-s);
	}

	.pb-m-l {
		padding-bottom: var(--size-m);
	}

	.pb-l-l {
		padding-bottom: var(--size-l);
	}

	.pb-xl-l {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-l {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-l {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-l {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-l {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-l {
		padding-left: var(--size-xxs);
	}

	.ps-xs-l {
		padding-left: var(--size-xs);
	}

	.ps-s-l {
		padding-left: var(--size-s);
	}

	.ps-m-l {
		padding-left: var(--size-m);
	}

	.ps-l-l {
		padding-left: var(--size-l);
	}

	.ps-xl-l {
		padding-left: var(--size-xl);
	}

	.ps-xxl-l {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-l {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-l {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-l {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-l {
		padding-right: var(--size-xxs);
	}

	.pe-xs-l {
		padding-right: var(--size-xs);
	}

	.pe-s-l {
		padding-right: var(--size-s);
	}

	.pe-m-l {
		padding-right: var(--size-m);
	}

	.pe-l-l {
		padding-right: var(--size-l);
	}

	.pe-xl-l {
		padding-right: var(--size-xl);
	}

	.pe-xxl-l {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-l {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-l {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-l {
		padding-right: var(--size-5xl);
	}

	.px-xxs-l {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-l {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-l {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-l {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-l {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-l {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-l {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-l {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-l {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-l {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-l {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-l {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-l {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-l {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-l {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-l {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-l {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-l {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-l {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-l {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}

@media (min-width: 1200px) {
	.p-xxs-xl {
		padding: var(--size-xxs);
	}

	.p-xs-xl {
		padding: var(--size-xs);
	}

	.p-s-xl {
		padding: var(--size-s);
	}

	.p-m-xl {
		padding: var(--size-m);
	}

	.p-l-xl {
		padding: var(--size-l);
	}

	.p-xl-xl {
		padding: var(--size-xl);
	}

	.p-xxl-xl {
		padding: var(--size-xxl);
	}

	.p-3xl-xl {
		padding: var(--size-3xl);
	}

	.p-4xl-xl {
		padding: var(--size-4xl);
	}

	.p-5xl-xl {
		padding: var(--size-5xl);
	}

	.pt-xxs-xl {
		padding-top: var(--size-xxs);
	}

	.pt-xs-xl {
		padding-top: var(--size-xs);
	}

	.pt-s-xl {
		padding-top: var(--size-s);
	}

	.pt-m-xl {
		padding-top: var(--size-m);
	}

	.pt-l-xl {
		padding-top: var(--size-l);
	}

	.pt-xl-xl {
		padding-top: var(--size-xl);
	}

	.pt-xxl-xl {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-xl {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-xl {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-xl {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-xl {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-xl {
		padding-bottom: var(--size-xs);
	}

	.pb-s-xl {
		padding-bottom: var(--size-s);
	}

	.pb-m-xl {
		padding-bottom: var(--size-m);
	}

	.pb-l-xl {
		padding-bottom: var(--size-l);
	}

	.pb-xl-xl {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-xl {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-xl {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-xl {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-xl {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-xl {
		padding-left: var(--size-xxs);
	}

	.ps-xs-xl {
		padding-left: var(--size-xs);
	}

	.ps-s-xl {
		padding-left: var(--size-s);
	}

	.ps-m-xl {
		padding-left: var(--size-m);
	}

	.ps-l-xl {
		padding-left: var(--size-l);
	}

	.ps-xl-xl {
		padding-left: var(--size-xl);
	}

	.ps-xxl-xl {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-xl {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-xl {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-xl {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-xl {
		padding-right: var(--size-xxs);
	}

	.pe-xs-xl {
		padding-right: var(--size-xs);
	}

	.pe-s-xl {
		padding-right: var(--size-s);
	}

	.pe-m-xl {
		padding-right: var(--size-m);
	}

	.pe-l-xl {
		padding-right: var(--size-l);
	}

	.pe-xl-xl {
		padding-right: var(--size-xl);
	}

	.pe-xxl-xl {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-xl {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-xl {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-xl {
		padding-right: var(--size-5xl);
	}

	.px-xxs-xl {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-xl {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-xl {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-xl {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-xl {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-xl {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-xl {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-xl {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-xl {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-xl {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-xl {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-xl {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-xl {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-xl {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-xl {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-xl {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-xl {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-xl {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-xl {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-xl {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}

@media (min-width: 1400px) {
	.p-xxs-xxl {
		padding: var(--size-xxs);
	}

	.p-xs-xxl {
		padding: var(--size-xs);
	}

	.p-s-xxl {
		padding: var(--size-s);
	}

	.p-m-xxl {
		padding: var(--size-m);
	}

	.p-l-xxl {
		padding: var(--size-l);
	}

	.p-xl-xxl {
		padding: var(--size-xl);
	}

	.p-xxl-xxl {
		padding: var(--size-xxl);
	}

	.p-3xl-xxl {
		padding: var(--size-3xl);
	}

	.p-4xl-xxl {
		padding: var(--size-4xl);
	}

	.p-5xl-xxl {
		padding: var(--size-5xl);
	}

	.pt-xxs-xxl {
		padding-top: var(--size-xxs);
	}

	.pt-xs-xxl {
		padding-top: var(--size-xs);
	}

	.pt-s-xxl {
		padding-top: var(--size-s);
	}

	.pt-m-xxl {
		padding-top: var(--size-m);
	}

	.pt-l-xxl {
		padding-top: var(--size-l);
	}

	.pt-xl-xxl {
		padding-top: var(--size-xl);
	}

	.pt-xxl-xxl {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-xxl {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-xxl {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-xxl {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-xxl {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-xxl {
		padding-bottom: var(--size-xs);
	}

	.pb-s-xxl {
		padding-bottom: var(--size-s);
	}

	.pb-m-xxl {
		padding-bottom: var(--size-m);
	}

	.pb-l-xxl {
		padding-bottom: var(--size-l);
	}

	.pb-xl-xxl {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-xxl {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-xxl {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-xxl {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-xxl {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-xxl {
		padding-left: var(--size-xxs);
	}

	.ps-xs-xxl {
		padding-left: var(--size-xs);
	}

	.ps-s-xxl {
		padding-left: var(--size-s);
	}

	.ps-m-xxl {
		padding-left: var(--size-m);
	}

	.ps-l-xxl {
		padding-left: var(--size-l);
	}

	.ps-xl-xxl {
		padding-left: var(--size-xl);
	}

	.ps-xxl-xxl {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-xxl {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-xxl {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-xxl {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-xxl {
		padding-right: var(--size-xxs);
	}

	.pe-xs-xxl {
		padding-right: var(--size-xs);
	}

	.pe-s-xxl {
		padding-right: var(--size-s);
	}

	.pe-m-xxl {
		padding-right: var(--size-m);
	}

	.pe-l-xxl {
		padding-right: var(--size-l);
	}

	.pe-xl-xxl {
		padding-right: var(--size-xl);
	}

	.pe-xxl-xxl {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-xxl {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-xxl {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-xxl {
		padding-right: var(--size-5xl);
	}

	.px-xxs-xxl {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-xxl {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-xxl {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-xxl {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-xxl {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-xxl {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-xxl {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-xxl {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-xxl {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-xxl {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-xxl {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-xxl {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-xxl {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-xxl {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-xxl {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-xxl {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-xxl {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-xxl {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-xxl {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-xxl {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}

@media (min-width: 1600px) {
	.p-xxs-3xl {
		padding: var(--size-xxs);
	}

	.p-xs-3xl {
		padding: var(--size-xs);
	}

	.p-s-3xl {
		padding: var(--size-s);
	}

	.p-m-3xl {
		padding: var(--size-m);
	}

	.p-l-3xl {
		padding: var(--size-l);
	}

	.p-xl-3xl {
		padding: var(--size-xl);
	}

	.p-xxl-3xl {
		padding: var(--size-xxl);
	}

	.p-3xl-3xl {
		padding: var(--size-3xl);
	}

	.p-4xl-3xl {
		padding: var(--size-4xl);
	}

	.p-5xl-3xl {
		padding: var(--size-5xl);
	}

	.pt-xxs-3xl {
		padding-top: var(--size-xxs);
	}

	.pt-xs-3xl {
		padding-top: var(--size-xs);
	}

	.pt-s-3xl {
		padding-top: var(--size-s);
	}

	.pt-m-3xl {
		padding-top: var(--size-m);
	}

	.pt-l-3xl {
		padding-top: var(--size-l);
	}

	.pt-xl-3xl {
		padding-top: var(--size-xl);
	}

	.pt-xxl-3xl {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-3xl {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-3xl {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-3xl {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-3xl {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-3xl {
		padding-bottom: var(--size-xs);
	}

	.pb-s-3xl {
		padding-bottom: var(--size-s);
	}

	.pb-m-3xl {
		padding-bottom: var(--size-m);
	}

	.pb-l-3xl {
		padding-bottom: var(--size-l);
	}

	.pb-xl-3xl {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-3xl {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-3xl {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-3xl {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-3xl {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-3xl {
		padding-left: var(--size-xxs);
	}

	.ps-xs-3xl {
		padding-left: var(--size-xs);
	}

	.ps-s-3xl {
		padding-left: var(--size-s);
	}

	.ps-m-3xl {
		padding-left: var(--size-m);
	}

	.ps-l-3xl {
		padding-left: var(--size-l);
	}

	.ps-xl-3xl {
		padding-left: var(--size-xl);
	}

	.ps-xxl-3xl {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-3xl {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-3xl {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-3xl {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-3xl {
		padding-right: var(--size-xxs);
	}

	.pe-xs-3xl {
		padding-right: var(--size-xs);
	}

	.pe-s-3xl {
		padding-right: var(--size-s);
	}

	.pe-m-3xl {
		padding-right: var(--size-m);
	}

	.pe-l-3xl {
		padding-right: var(--size-l);
	}

	.pe-xl-3xl {
		padding-right: var(--size-xl);
	}

	.pe-xxl-3xl {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-3xl {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-3xl {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-3xl {
		padding-right: var(--size-5xl);
	}

	.px-xxs-3xl {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-3xl {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-3xl {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-3xl {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-3xl {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-3xl {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-3xl {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-3xl {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-3xl {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-3xl {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-3xl {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-3xl {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-3xl {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-3xl {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-3xl {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-3xl {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-3xl {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-3xl {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-3xl {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-3xl {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}

@media (min-width: 1920px) {
	.p-xxs-4xl {
		padding: var(--size-xxs);
	}

	.p-xs-4xl {
		padding: var(--size-xs);
	}

	.p-s-4xl {
		padding: var(--size-s);
	}

	.p-m-4xl {
		padding: var(--size-m);
	}

	.p-l-4xl {
		padding: var(--size-l);
	}

	.p-xl-4xl {
		padding: var(--size-xl);
	}

	.p-xxl-4xl {
		padding: var(--size-xxl);
	}

	.p-3xl-4xl {
		padding: var(--size-3xl);
	}

	.p-4xl-4xl {
		padding: var(--size-4xl);
	}

	.p-5xl-4xl {
		padding: var(--size-5xl);
	}

	.pt-xxs-4xl {
		padding-top: var(--size-xxs);
	}

	.pt-xs-4xl {
		padding-top: var(--size-xs);
	}

	.pt-s-4xl {
		padding-top: var(--size-s);
	}

	.pt-m-4xl {
		padding-top: var(--size-m);
	}

	.pt-l-4xl {
		padding-top: var(--size-l);
	}

	.pt-xl-4xl {
		padding-top: var(--size-xl);
	}

	.pt-xxl-4xl {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-4xl {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-4xl {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-4xl {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-4xl {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-4xl {
		padding-bottom: var(--size-xs);
	}

	.pb-s-4xl {
		padding-bottom: var(--size-s);
	}

	.pb-m-4xl {
		padding-bottom: var(--size-m);
	}

	.pb-l-4xl {
		padding-bottom: var(--size-l);
	}

	.pb-xl-4xl {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-4xl {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-4xl {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-4xl {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-4xl {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-4xl {
		padding-left: var(--size-xxs);
	}

	.ps-xs-4xl {
		padding-left: var(--size-xs);
	}

	.ps-s-4xl {
		padding-left: var(--size-s);
	}

	.ps-m-4xl {
		padding-left: var(--size-m);
	}

	.ps-l-4xl {
		padding-left: var(--size-l);
	}

	.ps-xl-4xl {
		padding-left: var(--size-xl);
	}

	.ps-xxl-4xl {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-4xl {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-4xl {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-4xl {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-4xl {
		padding-right: var(--size-xxs);
	}

	.pe-xs-4xl {
		padding-right: var(--size-xs);
	}

	.pe-s-4xl {
		padding-right: var(--size-s);
	}

	.pe-m-4xl {
		padding-right: var(--size-m);
	}

	.pe-l-4xl {
		padding-right: var(--size-l);
	}

	.pe-xl-4xl {
		padding-right: var(--size-xl);
	}

	.pe-xxl-4xl {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-4xl {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-4xl {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-4xl {
		padding-right: var(--size-5xl);
	}

	.px-xxs-4xl {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-4xl {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-4xl {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-4xl {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-4xl {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-4xl {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-4xl {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-4xl {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-4xl {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-4xl {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-4xl {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-4xl {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-4xl {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-4xl {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-4xl {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-4xl {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-4xl {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-4xl {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-4xl {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-4xl {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}

@media (min-width: 2560px) {
	.p-xxs-5xl {
		padding: var(--size-xxs);
	}

	.p-xs-5xl {
		padding: var(--size-xs);
	}

	.p-s-5xl {
		padding: var(--size-s);
	}

	.p-m-5xl {
		padding: var(--size-m);
	}

	.p-l-5xl {
		padding: var(--size-l);
	}

	.p-xl-5xl {
		padding: var(--size-xl);
	}

	.p-xxl-5xl {
		padding: var(--size-xxl);
	}

	.p-3xl-5xl {
		padding: var(--size-3xl);
	}

	.p-4xl-5xl {
		padding: var(--size-4xl);
	}

	.p-5xl-5xl {
		padding: var(--size-5xl);
	}

	.pt-xxs-5xl {
		padding-top: var(--size-xxs);
	}

	.pt-xs-5xl {
		padding-top: var(--size-xs);
	}

	.pt-s-5xl {
		padding-top: var(--size-s);
	}

	.pt-m-5xl {
		padding-top: var(--size-m);
	}

	.pt-l-5xl {
		padding-top: var(--size-l);
	}

	.pt-xl-5xl {
		padding-top: var(--size-xl);
	}

	.pt-xxl-5xl {
		padding-top: var(--size-xxl);
	}

	.pt-3xl-5xl {
		padding-top: var(--size-3xl);
	}

	.pt-4xl-5xl {
		padding-top: var(--size-4xl);
	}

	.pt-5xl-5xl {
		padding-top: var(--size-5xl);
	}

	.pb-xxs-5xl {
		padding-bottom: var(--size-xxs);
	}

	.pb-xs-5xl {
		padding-bottom: var(--size-xs);
	}

	.pb-s-5xl {
		padding-bottom: var(--size-s);
	}

	.pb-m-5xl {
		padding-bottom: var(--size-m);
	}

	.pb-l-5xl {
		padding-bottom: var(--size-l);
	}

	.pb-xl-5xl {
		padding-bottom: var(--size-xl);
	}

	.pb-xxl-5xl {
		padding-bottom: var(--size-xxl);
	}

	.pb-3xl-5xl {
		padding-bottom: var(--size-3xl);
	}

	.pb-4xl-5xl {
		padding-bottom: var(--size-4xl);
	}

	.pb-5xl-5xl {
		padding-bottom: var(--size-5xl);
	}

	.ps-xxs-5xl {
		padding-left: var(--size-xxs);
	}

	.ps-xs-5xl {
		padding-left: var(--size-xs);
	}

	.ps-s-5xl {
		padding-left: var(--size-s);
	}

	.ps-m-5xl {
		padding-left: var(--size-m);
	}

	.ps-l-5xl {
		padding-left: var(--size-l);
	}

	.ps-xl-5xl {
		padding-left: var(--size-xl);
	}

	.ps-xxl-5xl {
		padding-left: var(--size-xxl);
	}

	.ps-3xl-5xl {
		padding-left: var(--size-3xl);
	}

	.ps-4xl-5xl {
		padding-left: var(--size-4xl);
	}

	.ps-5xl-5xl {
		padding-left: var(--size-5xl);
	}

	.pe-xxs-5xl {
		padding-right: var(--size-xxs);
	}

	.pe-xs-5xl {
		padding-right: var(--size-xs);
	}

	.pe-s-5xl {
		padding-right: var(--size-s);
	}

	.pe-m-5xl {
		padding-right: var(--size-m);
	}

	.pe-l-5xl {
		padding-right: var(--size-l);
	}

	.pe-xl-5xl {
		padding-right: var(--size-xl);
	}

	.pe-xxl-5xl {
		padding-right: var(--size-xxl);
	}

	.pe-3xl-5xl {
		padding-right: var(--size-3xl);
	}

	.pe-4xl-5xl {
		padding-right: var(--size-4xl);
	}

	.pe-5xl-5xl {
		padding-right: var(--size-5xl);
	}

	.px-xxs-5xl {
		padding-left: var(--size-xxs);
		padding-right: var(--size-xxs);
	}

	.px-xs-5xl {
		padding-left: var(--size-xs);
		padding-right: var(--size-xs);
	}

	.px-s-5xl {
		padding-left: var(--size-s);
		padding-right: var(--size-s);
	}

	.px-m-5xl {
		padding-left: var(--size-m);
		padding-right: var(--size-m);
	}

	.px-l-5xl {
		padding-left: var(--size-l);
		padding-right: var(--size-l);
	}

	.px-xl-5xl {
		padding-left: var(--size-xl);
		padding-right: var(--size-xl);
	}

	.px-xxl-5xl {
		padding-left: var(--size-xxl);
		padding-right: var(--size-xxl);
	}

	.px-3xl-5xl {
		padding-left: var(--size-3xl);
		padding-right: var(--size-3xl);
	}

	.px-4xl-5xl {
		padding-left: var(--size-4xl);
		padding-right: var(--size-4xl);
	}

	.px-5xl-5xl {
		padding-left: var(--size-5xl);
		padding-right: var(--size-5xl);
	}

	.py-xxs-5xl {
		padding-top: var(--size-xxs);
		padding-bottom: var(--size-xxs);
	}

	.py-xs-5xl {
		padding-top: var(--size-xs);
		padding-bottom: var(--size-xs);
	}

	.py-s-5xl {
		padding-top: var(--size-s);
		padding-bottom: var(--size-s);
	}

	.py-m-5xl {
		padding-top: var(--size-m);
		padding-bottom: var(--size-m);
	}

	.py-l-5xl {
		padding-top: var(--size-l);
		padding-bottom: var(--size-l);
	}

	.py-xl-5xl {
		padding-top: var(--size-xl);
		padding-bottom: var(--size-xl);
	}

	.py-xxl-5xl {
		padding-top: var(--size-xxl);
		padding-bottom: var(--size-xxl);
	}

	.py-3xl-5xl {
		padding-top: var(--size-3xl);
		padding-bottom: var(--size-3xl);
	}

	.py-4xl-5xl {
		padding-top: var(--size-4xl);
		padding-bottom: var(--size-4xl);
	}

	.py-5xl-5xl {
		padding-top: var(--size-5xl);
		padding-bottom: var(--size-5xl);
	}
}