.position-static {
	position: static;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

.position-sticky {
	position: sticky;
}

.position-static {
	position: static;
}

.top-0 {
	top: 0;
}

.top-xxs {
	top: var(--size-xxs);
}

.top-xs {
	top: var(--size-xs);
}

.top-s {
	top: var(--size-s);
}

.top-m {
	top: var(--size-m);
}

.top-l {
	top: var(--size-l);
}

.top-xl {
	top: var(--size-xl);
}

.top-xxl {
	top: var(--size-xxl);
}

.top-3xl {
	top: var(--size-3xl);
}

.top-4xl {
	top: var(--size-4xl);
}

.top-5xl {
	top: var(--size-5xl);
}

.bottom-0 {
	bottom: 0;
}

.bottom-xxs {
	bottom: var(--size-xxs);
}

.bottom-xs {
	bottom: var(--size-xs);
}

.bottom-s {
	bottom: var(--size-s);
}

.bottom-m {
	bottom: var(--size-m);
}

.bottom-l {
	bottom: var(--size-l);
}

.bottom-xl {
	bottom: var(--size-xl);
}

.bottom-xxl {
	bottom: var(--size-xxl);
}

.bottom-3xl {
	bottom: var(--size-3xl);
}

.bottom-4xl {
	bottom: var(--size-4xl);
}

.bottom-5xl {
	bottom: var(--size-5xl);
}

.left-0 {
	left: 0;
}

.left-xxs {
	left: var(--size-xxs);
}

.left-xs {
	left: var(--size-xs);
}

.left-s {
	left: var(--size-s);
}

.left-m {
	left: var(--size-m);
}

.left-l {
	left: var(--size-l);
}

.left-xl {
	left: var(--size-xl);
}

.left-xxl {
	left: var(--size-xxl);
}

.left-3xl {
	left: var(--size-3xl);
}

.left-4xl {
	left: var(--size-4xl);
}

.left-5xl {
	left: var(--size-5xl);
}

.right-0 {
	right: 0;
}

.right-xxs {
	right: var(--size-xxs);
}

.right-xs {
	right: var(--size-xs);
}

.right-s {
	right: var(--size-s);
}

.right-m {
	right: var(--size-m);
}

.right-l {
	right: var(--size-l);
}

.right-xl {
	right: var(--size-xl);
}

.right-xxl {
	right: var(--size-xxl);
}

.right-3xl {
	right: var(--size-3xl);
}

.right-4xl {
	right: var(--size-4xl);
}

.right-5xl {
	right: var(--size-5xl);
}

.right-0 {
	right: 0;
}

.right-xxs {
	right: var(--size-xxs);
}

.right-xs {
	right: var(--size-xs);
}

.right-s {
	right: var(--size-s);
}

.right-m {
	right: var(--size-m);
}

.right-l {
	right: var(--size-l);
}

.right-xl {
	right: var(--size-xl);
}

.right-xxl {
	right: var(--size-xxl);
}

.right-3xl {
	right: var(--size-3xl);
}

.right-4xl {
	right: var(--size-4xl);
}

.right-5xl {
	right: var(--size-5xl);
}

/* Responsive positioning */
@media (min-width: 360px) {
	.position-xxs-static {
		position: static;
	}

	.position-xxs-relative {
		position: relative;
	}

	.position-xxs-absolute {
		position: absolute;
	}

	.position-xxs-fixed {
		position: fixed;
	}

	.position-xxs-sticky {
		position: sticky;
	}
}

@media (min-width: 480px) {
	.position-xs-static {
		position: static;
	}

	.position-xs-relative {
		position: relative;
	}

	.position-xs-absolute {
		position: absolute;
	}

	.position-xs-fixed {
		position: fixed;
	}

	.position-xs-sticky {
		position: sticky;
	}
}

@media (min-width: 576px) {
	.position-s-static {
		position: static;
	}

	.position-s-relative {
		position: relative;
	}

	.position-s-absolute {
		position: absolute;
	}

	.position-s-fixed {
		position: fixed;
	}

	.position-s-sticky {
		position: sticky;
	}
}

@media (min-width: 768px) {
	.position-m-static {
		position: static;
	}

	.position-m-relative {
		position: relative;
	}

	.position-m-absolute {
		position: absolute;
	}

	.position-m-fixed {
		position: fixed;
	}

	.position-m-sticky {
		position: sticky;
	}
}

@media (min-width: 992px) {
	.position-l-static {
		position: static;
	}

	.position-l-relative {
		position: relative;
	}

	.position-l-absolute {
		position: absolute;
	}

	.position-l-fixed {
		position: fixed;
	}

	.position-l-sticky {
		position: sticky;
	}
}

@media (min-width: 1200px) {
	.position-xl-static {
		position: static;
	}

	.position-xl-relative {
		position: relative;
	}

	.position-xl-absolute {
		position: absolute;
	}

	.position-xl-fixed {
		position: fixed;
	}

	.position-xl-sticky {
		position: sticky;
	}
}

@media (min-width: 1400px) {
	.position-xxl-static {
		position: static;
	}

	.position-xxl-relative {
		position: relative;
	}

	.position-xxl-absolute {
		position: absolute;
	}

	.position-xxl-fixed {
		position: fixed;
	}

	.position-xxl-sticky {
		position: sticky;
	}
}

@media (min-width: 1600px) {
	.position-3xl-static {
		position: static;
	}

	.position-3xl-relative {
		position: relative;
	}

	.position-3xl-absolute {
		position: absolute;
	}

	.position-3xl-fixed {
		position: fixed;
	}

	.position-3xl-sticky {
		position: sticky;
	}
}

@media (min-width: 1920px) {
	.position-4xl-static {
		position: static;
	}

	.position-4xl-relative {
		position: relative;
	}

	.position-4xl-absolute {
		position: absolute;
	}

	.position-4xl-fixed {
		position: fixed;
	}

	.position-4xl-sticky {
		position: sticky;
	}
}

@media (min-width: 2560px) {
	.position-5xl-static {
		position: static;
	}

	.position-5xl-relative {
		position: relative;
	}

	.position-5xl-absolute {
		position: absolute;
	}

	.position-5xl-fixed {
		position: fixed;
	}

	.position-5xl-sticky {
		position: sticky;
	}
}