/* font sizes*/
.fs-xxs {
	font-size: var(--font-size-xxs);
}

.fs-xs {
	font-size: var(--font-size-xs);
}

.fs-s {
	font-size: var(--font-size-s);
}

.fs-m {
	font-size: var(--font-size-m);
}

.fs-l {
	font-size: var(--font-size-l);
}

.fs-xl {
	font-size: var(--font-size-xl);
}

.fs-xxl {
	font-size: var(--font-size-xxl);
}

.fs-3xl {
	font-size: var(--font-size-3xl);
}

.fs-4xl {
	font-size: var(--font-size-4xl);
}

.fs-5xl {
	font-size: var(--font-size-5xl);
}

/* font weight */

.fw-100 {
	font-weight: 100;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

/* alignment */
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

/* case */
.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

/* decoration */
.text-decoration-none {
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

.line-through {
	text-decoration: line-through;
}

/* line-height */
.line-height-xxs {
	line-height: var(--size-xxs);
}

.line-height-xs {
	line-height: var(--size-xs);
}

.line-height-s {
	line-height: var(--size-s);
}

.line-height-m {
	line-height: var(--size-m);
}

.line-height-l {
	line-height: var(--size-l);
}

.line-height-xl {
	line-height: var(--size-xl);
}

.line-height-xxl {
	line-height: var(--size-xxl);
}

.line-height-3xl {
	line-height: var(--size-3xl);
}

.line-height-4xl {
	line-height: var(--size-4xl);
}

.line-height-5xl {
	line-height: var(--size-5xl);
}

/* break */
.word-break-normal {
	word-break: normal;
}

.word-break-words {
	word-break: break-word;
}

.word-break-all {
	word-break: break-all;
}

.word-break-keep {
	word-break: keep-all;
}

/* line-break */
.line-break-normal {
	line-break: normal;
}

.line-break-words {
	line-break: break-word;
}

.line-break-all {
	line-break: break-all;
}

.line-break-keep {
	line-break: keep-all;
}

/* white space */
.white-space-normal {
	white-space: normal;
}

.white-space-nowrap {
	white-space: nowrap;
}

.white-space-pre {
	white-space: pre;
}

.white-space-pre-line {
	white-space: pre-line;
}

.white-space-pre-wrap {
	white-space: pre-wrap;
}

pre {
	font-family: 'Courier New', Courier, monospace;
}

kbd {
	font-family: 'Courier New', Courier, monospace;
	font-size: var(--font-size-m);
	font-weight: 500;
	border-radius: var(--size-m);
	padding: 0.25rem 0.5rem;
}

sub {
	vertical-align: sub;
	font-size: var(--font-size-s);
	line-height: 1;
}

sup {
	vertical-align: super;
	font-size: var(--font-size-s);
	line-height: 1;
}